@import "./variables.scss";
.plantcards {
    display: grid;
    background-color: white;
    height: 250px;
    width: 30vw;
    justify-content: center;
    border-radius: 20px;
    border: solid;
    border-color: $light-peach;
    box-shadow: 0 4px 8px 0 $dark-peach, 0 6px 20px 0 $light-peach;

    .imgbg {
        height:150px;
        border-radius: 20px;
        margin: 20px;
        justify-content: center;
    }

    h4 {
        margin: 0px;
        font-family:$work-sans;
        font-size: 12px;
       text-align: center;
    }
   
}
