* {
    // border: 1px solid black;
}
.garden {
    
}

.plantlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding-bottom: 5em;
    gap: 20px;
    
}

.gardenButton {
    background-color: #326E62;
    color: white;
    font-weight: 900;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    position: absolute;
    z-index: 10;
    right: 10px;
}

.plantcard {
    display: grid;
    background-color: #D2D2D2;
    height: 250px;
    width: 45vw;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}
    img {
        height:150px;
        border-radius: 20px;
        margin: 20px;
    }
    h2 {
        margin: 0px;
    }
    h4 {
        margin: 0px;
    }

.dropdown {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color:rgba(230, 230, 230, 0.8);
    z-index: 5;
    text-align: right;
}
    .searchButton {
        background-color: #326E62;
        color: white;
        font-weight: 900;
        border-radius: 50%;
        height: 3em;
        width: 3em;
        position: absolute;
        right: 10px;
        top: 50px;
    }
    p {
        // position: absolute;
        right: 40px;
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        height: 29px;
        margin-top: 50px;
        margin-right: 10px;
        margin-left: 50vw;
        border: 1px solid black;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.4), 0 6px 20px 0 rgba(100, 100, 100, 0.8);
        
    }
