.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;



}

.profile-dd {
    width: 300px;
}

.profile-dd-title {
    display: flex;
    justify-content: space-between;

    button {
        
    }
}

#dd-content {
    padding-left: 5px;
    text-align: left;
}