.NavBar {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-size: 1em;
    color: red;
  }
    a {
        font-size: 2em;
    }
        svg {
    color: black;
    
  }