@import "./variables.scss";

* {
    box-sizing: border-box;

}

img {
  width: 40%;
  height: 40%;
  border-radius: 10px;
}
// name
article h1 {
text-align: left;
padding-left: 30%;
font-family: $comfortaa;
}

hr {
    width: 70%;
    
}

// description and details font
 h4 {
    font-family: $work-sans ;
}


// description
form h4 {
   width: 50%;
   margin: auto;
   line-height: 30px;
}

// button
button {
    padding: 5px 20px;
    margin: 10px;
    color: black;
    background-color: $light-peach;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px #999;
  }

button:hover {
    color:white;
    background-color: grey;
  }
  button:active {
    background-color: grey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


