@import "./variables.scss";

.plant-form {
  img {
    width: 400px;
    height: auto;
  }
}

.individualPlant{
  padding-bottom: 5em;
  background-color: $lightest-green;
  height: 100vh;

#plantImage {
  width: auto;
  height: 300px;
  padding-top: 15px;
  border-radius: 5%;
}
// name
article h1 {
text-align: center;
font-family: $comfortaa;
}

hr {
  width: 70%;
}

// description and details font
article h4 {
    font-family: $work-sans ;
}


// description
article .description h4 {
   width: 50%;
   margin: auto;
   line-height: 30px;
}

// button
article button {
    height: 40px;
    width: 15%;
    border-radius: 20px;
    background-color: darkgrey;
    cursor: pointer;
    font-weight: bolder;
    border: 0;
    margin: 10px;
    
  }

article button:hover {
    color:white;
    background-color: grey;
  }
article button:active {
    background-color: grey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
// arrow back design
.fa-customize {
    color: gray;
    margin-top: 10px;
    padding-right: 50%;
}
}