@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Work+Sans:wght@400;500&display=swap');

// Color Variables
$dark-green: #326E62;
$light-green: #81B8A8;
$dark-peach: #F9BAB1;
$light-peach: #FEF2F0;
$dark-green: #326E62;
$light-green: #81B8A8;
$dark-peach: #F9BAB1;
$light-peach: #FEF2F0;
$light-blue:#8FA9BB;
$dark-blue: #7493A7;
$light-gray: #D2D2D2;
$less-black: #242424;


// Font Variables
$comfortaa: Comfortaa, cursive;
$work-sans: Work Sans, sans-serif;

