@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Work+Sans:wght@400;500&display=swap');

// Color Variables
$dark-green: #326E62;
$light-green: #81B8A8;
$dark-peach: #F9BAB1;
$light-peach: #FEF2F0;

// Font Variables
$comfortaa: Comfortaa, cursive;
$work-sans: Work Sans, sans-serif;

